<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
{% static "" as baseURL %}
{% include 'include.html' %}
</head>
<body class="sidebar-wide">
<!-- Navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header"><a class="navbar-brand" href="{% url 'search' %}">Logo: BizART </a>
  </div>
  <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-people"></i><span class="label label-default">2</span></a>
      <div class="popup dropdown-menu dropdown-menu-right">
        <div class="popup-header"><a href="#" class="pull-left"><i class="icon-spinner7"></i></a><span>Activity</span><a href="#" class="pull-right"><i class="icon-paragraph-justify"></i></a></div>
        <ul class="activity">
          <li> <i class="icon-cart-checkout text-success"></i>
            <div> <a href="#">Eugene</a> ordered 2 copies of <a href="#">OEM license</a> <span>14 minutes ago</span> </div>
          </li>
          <li> <i class="icon-heart text-danger"></i>
            <div> Your <a href="#">latest post</a> was liked by <a href="#">Audrey Mall</a> <span>35 minutes ago</span> </div>
          </li>
          <li> <i class="icon-checkmark3 text-success"></i>
            <div> Mail server was updated. See <a href="#">changelog</a> <span>About 2 hours ago</span> </div>
          </li>
          <li> <i class="icon-paragraph-justify2 text-warning"></i>
            <div> There are <a href="#">6 new tasks</a> waiting for you. Don't forget! <span>About 3 hours ago</span> </div>
          </li>
        </ul>
      </div>
    </li>
   

    <li class="user dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><img src="{{baseURL}}/images/users/{{username}}.jpg" alt=""><span>{{ username }}</span><i class="caret"></i></a>
      <ul class="dropdown-menu dropdown-menu-right icons-right">
     
        <li><a href = "{% url 'login_simple' %}"><i class="icon-exit"></i> Logout</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- /navbar -->
<!-- Page container -->
<div class="page-container sidebar-hidden">

  <!-- Page content -->
  <div class="page-content">
    <!-- Page header -->
    <div class="page-header">
      
      
      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"></a></div>
        <div class="date-range"></div>
        <span class="label"></span></div>
    </div>
    <!-- /page header -->
     <div class="block">
      <ul class="statistics">
        <li>
          <div class="statistics-info"> <a href="#" title="" class="bg-success"><i class="icon-user-plus"></i></a> <strong>12,476</strong> </div>
          <div class="progress progress-micro">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">100% Complete</span></div>
          </div>
          <span>Number of Passengers</span> </li>
        <li>
          <div class="statistics-info"> <a href="#" title="" class="bg-warning"><i class="icon-point-up"></i></a> <strong>621,873</strong> </div>
          <div class="progress progress-micro">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20% Complete</span></div>
          </div>
          <span>New Customers</span> </li>
        <li>
          <div class="statistics-info"> <a href="#" title="" class="bg-info"><i class="icon-cart-plus"></i></a> <strong>562</strong> </div>
          <div class="progress progress-micro">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="sr-only">90% Complete</span></div>
          </div>
          <span>Operational Flights</span> </li>
        <li>
          <div class="statistics-info"> <a href="#" title="" class="bg-danger"><i class="icon-coin"></i></a> <strong>$45,360</strong> </div>
          <div class="progress progress-micro">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70% Complete</span></div>
          </div>
          <span>Gross Revenue</span> </li>
       
      </ul>
    </div>
   
    <!-- Search line -->
    <form action="{% url 'graph' %}" method="POST" style="width:40%; margin:0 auto;" class="search-line block" role="form">
    {% csrf_token %}
      <span class="subtitle" align="center"> Logo</span>
      <div class="input-group si-wrapper"  style="width:100%">
        <div class="search-control ">
          <input type="text" class="si-input" placeholder="What are you looking for?" name="query" style="width:100%;">
        </div>  

        <button class="si-btn"> speech input
          <span class="si-mic"></span>
          <span class="si-holder"></span>
        </button>
        
      </div>
      <span align="center" class="input-group-btn">
          <button style="margin-top: 10px;" class="btn btn-primary"  type="submit">Search</button>   
        </span>
    </form>
    <!-- /search line -->

    <!-- Default info blocks -->
    <ul class="info-blocks" style="margin-top: 50px">
      <li class="bg-primary" style="width: 200px; height: 150px">
        <div class="top-info"><a href="#">View Current Flight Data</a><small></small></div>
        <a href="#"><i class="icon-spinner7"></i></a><span class="bottom-info bg-danger">12 flights in progress</span></li>
      <li class="bg-danger" style="width: 200px; height: 150px">
        <div class="top-info"><a href="#">Compare Competitor Data</a><small></small></div>
        <a href="#"><i class="icon-bars"></i></a><span class="bottom-info bg-primary">3 new updates</span></li>
      <li class="bg-info" style="width: 200px; height: 150px">
        <div class="top-info"><a href="#">Passenger history</a><small></small></div>
        <a href="#"><i class="icon-cart4"></i></a><span class="bottom-info bg-primary">17 new passengers</span></li>
      <li class="bg-success" style="width: 200px; height: 150px">
        <div class="top-info"><a href="#">Revenue Grpah</a><small></small></div>
        <a href="#"><i class="icon-coin"></i></a><span class="bottom-info bg-primary">9% increase</span></li>
    </ul>
    <!-- /default info blocks -->
 	   {% if query %}
    <div class="res">The query is: {{ query }}</div>
    {% endif %}
    
   <!-- Footer -->
<div class="footer clearfix" style="position:fixed; bottom:0; width:98%">
  <div class="pull-left">&copy; 2016. BizART <a href="http://themeforest.net/user/Kopyov">A complete Business Intelligence Tool</a></div>
  <div class="pull-right icons-group"> <a href="{% url 'aboutus'%}"><i class="icon-screen2"></i> &nbsp About Us </a>  </div>
</div>
<!-- /footer -->
  </div>
  <!-- /page content -->
</div>
<!-- /page container -->
</body>




<script>
  /*global webkitSpeechRecognition */

(function() {
  'use strict';

  if (! ('webkitSpeechRecognition' in window) ) return;

  var talkMsg = 'start talking';
  var patience = 6;

  function capitalize(str) {
    return str.length ? str[0].toUpperCase() + str.slice(1) : str;
  }

  var speechInputWrappers = document.getElementsByClassName('si-wrapper');

  [].forEach.call(speechInputWrappers, function(speechInputWrapper) {
    // find elements
    var inputEl = speechInputWrapper.querySelector('.si-input');
    var micBtn = speechInputWrapper.querySelector('.si-btn');

    // size and position them
    var inputHeight = inputEl.offsetHeight;
    var inputRightBorder = parseInt(getComputedStyle(inputEl).borderRightWidth, 10);
    var buttonSize = 0.8 * inputHeight;
    micBtn.style.top = 0.1 * inputHeight + 'px';
    micBtn.style.height = micBtn.style.width = buttonSize + 'px';
    inputEl.style.paddingRight = buttonSize - inputRightBorder + 'px';
    speechInputWrapper.appendChild(micBtn);

    // setup recognition
    var finalTranscript = '';
    var recognizing = false;
    var timeout;
    var oldPlaceholder = null;
    var recognition = new webkitSpeechRecognition();
    recognition.continuous = true;

    function restartTimer() {
      timeout = setTimeout(function() {
        recognition.stop();
      }, patience * 1000);
    }

    recognition.onstart = function() {
      oldPlaceholder = inputEl.placeholder;
      inputEl.placeholder = talkMsg;
      recognizing = true;
      micBtn.classList.add('listening');
      restartTimer();
    };

    recognition.onend = function() {
      recognizing = false;
      clearTimeout(timeout);
      micBtn.classList.remove('listening');
      if (oldPlaceholder !== null) inputEl.placeholder = oldPlaceholder;
    };

    recognition.onresult = function(event) {
      clearTimeout(timeout);
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          finalTranscript += event.results[i][0].transcript;
        }
      }
      finalTranscript = capitalize(finalTranscript);
      inputEl.value = finalTranscript;
      restartTimer();
    };

    micBtn.addEventListener('click', function(event) {
      event.preventDefault();
      if (recognizing) {
        recognition.stop();
        return;
      }
      inputEl.value = finalTranscript = '';
      recognition.start();
    }, false);
  });
})(); 
</script>




</html>